@model IEnumerable<CyrusCustomer.Domain.Models.Customer>
@{
    ViewData["Title"] = "Customer List";
}

<h2>@ViewData["Title"]</h2>


<p>
    <a asp-action="Create" style="text-decoration : none; color:darkslategrey">Create New</a>
    <a asp-action="Upload" class="btn btn-primary" style="margin-left: 10px;">Upload Excel</a>

    @using (Html.BeginForm("DeleteAll", "Customer", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete all customer data?');">
            Delete All Customer Data
        </button>
    }
</p>

<table class="table">
    <thead>
        <tr>
            <th>إسم الشركة</th>
            <th>تسجيل ضريبي</th>
            <th>الشخص المسئول</th>
            <th>رقم موبايل</th>
            <th>تاريخ الفاتوره</th>
      
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.TaxId</td>
                <td>@item.ResponsiblePerson</td>
                <td>@item.Phone</td>
                <td>@item.UserUpdated</td>  
          
            
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" >Delete</a>
                    <a  asp-action="ViewBranches" asp-route-customerId="@item.Id" class="btn btn-primary">
                        View Branches
                    </a>

                </td>
            </tr>
        }
    </tbody>
</table>
